.navbar {
    height: 5rem;
    background-color: aquamarine;
}

.fa-compass {
    color: #61111450;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}

.f-left a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.f-left a:hover {
    color: rgb(93, 6, 93);
    text-decoration: underline;
}

.f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 35, 165);
    color: white;
    padding: 1rem;
}

.f-center {
    flex-grow: 1;
    text-align: center;
}
 